<section class="container-fluid py-6 mb-5">
    <div class="container">
        <owl-carousel-o [options]="testimonialCarousel">
            <ng-template carouselSlide>
              <div class="testimonial-item">
                <i class="fa fa-quote-left fa-3x text-primary position-absolute top-0 start-0 mt-n4 ms-5"></i>
                <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
                <div class="d-flex align-items-center">
                    <img class="flex-shrink-0 rounded-circle" src="img/testimonial-1.jpg" alt="">
                    <div class="ms-3">
                        <h5 class="mb-1">Client Name</h5>
                        <span>Profession</span>
                    </div>
                </div>
              </div>
            </ng-template>
            <ng-template carouselSlide>Slide 2</ng-template>
            <ng-template carouselSlide>Slide 3</ng-template>
            <ng-template carouselSlide>Slide 4</ng-template>
            <ng-template carouselSlide>Slide 5</ng-template>
        </owl-carousel-o>
    </div>
</section>
<i class="bi bi-arrow-down-right-square"></i>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga repudiandae, a autem dolorum reprehenderit voluptate voluptatum. Quaerat, earum corporis magni cumque eveniet tempora blanditiis enim expedita beatae natus praesentium sit aperiam explicabo,
    ex magnam. Excepturi, nemo magni ex voluptatibus distinctio rem temporibus illum necessitatibus mollitia non similique dolores nobis praesentium, dolore esse soluta aliquam pariatur! Dolorem unde sunt provident animi eius dolor ducimus vel ratione
    quo iure saepe, voluptate necessitatibus! Omnis veniam officiis hic ipsam! Rerum explicabo officiis placeat odio modi! Quaerat nostrum dolorum reprehenderit voluptate facere beatae quidem temporibus, neque illo tempore perferendis, totam non! Autem
    recusandae atque corporis adipisci velit ea beatae labore, ex ad veritatis pariatur esse, totam aperiam illum ullam perferendis aliquid asperiores, et magnam! Cupiditate molestiae consectetur voluptates inventore aperiam, asperiores necessitatibus,
    laborum ratione, officia dolore laudantium possimus mollitia ducimus vero distinctio pariatur iste amet totam tempora quam quaerat? Quae temporibus sed deleniti placeat beatae culpa suscipit perspiciatis a aliquid non quos distinctio quod neque, ab
    asperiores eligendi voluptatum necessitatibus cupiditate. Dicta at optio labore ipsa nihil perferendis veniam corrupti, delectus consectetur fuga ea sint! Pariatur, reiciendis, voluptatem ratione at asperiores aperiam provident ad, fugiat officiis
    eum impedit temporibus! Natus earum cumque iusto, itaque eveniet soluta eaque velit porro et quae repellat, eos est, amet sit accusantium enim eius modi necessitatibus? Magni repellendus, officia sed, quisquam maiores porro sint ipsum sequi quaerat
    maxime, numquam commodi. Animi eligendi natus odit, et labore unde tempore! Distinctio deserunt nemo fugit, fugiat tempora impedit consectetur. Officia exercitationem illum eius sunt? Harum eaque, soluta cupiditate voluptas fuga est natus a quo libero
    sunt, placeat eum totam reprehenderit autem nisi sequi? Vitae aliquam, omnis vero, eos libero voluptatum quo accusamus fugiat recusandae, iste dolor cum veniam ipsa sed tempora ratione assumenda dolorem illo ut quia! Non similique eveniet qui necessitatibus
    cumque fuga pariatur. Id exercitationem earum quasi quos et quod quaerat accusantium reiciendis assumenda. Ipsa temporibus pariatur culpa eveniet hic consectetur vitae porro minima quod nobis ipsam impedit quo, voluptatum laborum magni, eaque dolorum
    quas itaque quae corporis nesciunt, cumque molestias. Ipsa beatae, placeat eveniet quasi numquam inventore incidunt pariatur soluta facere rerum. Quisquam pariatur voluptatum eum quae saepe quos, corporis vel maiores, ipsum beatae labore animi quidem
    consectetur, omnis aperiam excepturi! Sapiente quas inventore nisi, eius voluptas unde molestias praesentium neque aliquid reiciendis rem earum quo quod temporibus architecto aperiam, dolores officia dicta sunt? Eius autem aperiam perferendis, amet
    eaque fuga, placeat dolorem labore in minus sapiente quo vel. Quidem provident ab aperiam nostrum rem nesciunt soluta qui eaque pariatur excepturi facilis velit id, inventore delectus repellendus ipsam deleniti sapiente officiis, minus iure atque!
    Voluptatibus quae nemo ipsa aliquam sunt amet repellendus at soluta nobis? Eveniet ipsum necessitatibus minima, pariatur ab, laborum veniam nihil voluptas saepe inventore laudantium, earum repellat! Numquam omnis consectetur quasi nam odit eligendi
    ipsam repellat enim nulla id aut hic neque, quaerat iusto natus odio adipisci officiis excepturi itaque commodi, eaque expedita temporibus nesciunt! Sit minus facilis velit recusandae voluptates, at quasi odit natus dolore labore et porro ipsa maxime
    asperiores, dolores iste itaque nihil error repellat. Voluptates voluptatum dolorum error ipsum maxime consequuntur quaerat reprehenderit suscipit modi sint laborum reiciendis totam deserunt dicta repellat aliquam sunt dignissimos atque doloribus,
    inventore distinctio! Dolore quisquam doloremque similique natus harum, error sequi repellendus ea unde delectus rem eligendi ipsa exercitationem? Temporibus dolore dolorem perferendis ullam dolorum tempora expedita id. Repellendus laborum suscipit
    dolorem maiores iste id, aperiam hic dolores quibusdam quo quidem unde corrupti, iusto eos minus praesentium est ipsa, nisi quam. Accusamus reiciendis qui provident consequatur nobis velit ab recusandae maiores ad expedita odit autem, natus aspernatur
    eveniet repudiandae est voluptas, quod eligendi quas obcaecati error neque? Minima sed amet dolorem ratione? Atque blanditiis dolorum voluptatibus optio officia consequuntur, unde a ut nesciunt! In tenetur blanditiis ipsum voluptatem, a voluptate
    rem laudantium dolorem aspernatur doloribus, fuga, reiciendis corporis. Sit sunt eos deleniti incidunt facilis, commodi blanditiis velit debitis accusamus dolor repudiandae amet culpa sed exercitationem nihil ullam autem. Facere omnis quam iusto voluptate
    nobis aspernatur ipsum quo atque, blanditiis aliquid cupiditate exercitationem at, nulla eveniet veniam odit laborum dolorem laudantium voluptatum a quos eum dolor, ipsa qui. Architecto illo tempore neque non rerum. Est reiciendis velit delectus unde,
    cupiditate eligendi rerum veritatis perspiciatis natus pariatur voluptate atque provident nihil, dolorum eaque dicta alias facilis! Totam obcaecati vero ipsa enim reiciendis architecto esse a sequi culpa asperiores nihil non, reprehenderit quas nam
    sint alias vitae hic quos molestiae repellat doloribus. Quis voluptatem quam quidem? Doloremque exercitationem ratione, repellat quis repudiandae debitis fugit! Ducimus deserunt quas a assumenda? Minus eum molestias dolore sint voluptatum quos labore
    id ipsum exercitationem aliquid cum adipisci dolor explicabo perspiciatis commodi repellat aliquam numquam quaerat iusto, corrupti cumque quod accusamus assumenda ipsam! Asperiores consectetur dolor amet praesentium ipsam unde dicta quas, quasi minus
    laboriosam a molestias quibusdam ea ipsa facere libero doloribus et deserunt. Nam hic eveniet illo neque ea maiores aliquam doloremque at corrupti repudiandae? Ea hic minus quod sunt dignissimos, autem eum facilis beatae iusto, assumenda officiis,
    animi quibusdam delectus! Exercitationem culpa fugiat adipisci quas iusto. Velit sunt, tempora corrupti necessitatibus, obcaecati voluptatum consequuntur blanditiis sed tempore voluptatibus placeat nam. Odio vitae iure odit quas, ad nemo iusto aliquid
    reprehenderit rem inventore distinctio mollitia doloribus obcaecati sequi sint velit esse. Ducimus illum cumque, vel maxime veniam dolores aut fuga id, dolorum consectetur perferendis quos vitae velit numquam dignissimos repellat ad, saepe recusandae
    adipisci itaque laborum. Culpa itaque, nam voluptatem illum corporis maiores ut iure. Molestiae eaque in esse deserunt quisquam ut repudiandae sunt. Atque iusto, nesciunt quae quia cum deleniti fuga quis ex alias eos, dolores soluta corporis quibusdam
    nemo, ipsam excepturi sed tempora delectus. Praesentium, atque sit, vitae nisi laboriosam magnam voluptatum eligendi iusto illum soluta ex voluptates! Rem asperiores ipsa exercitationem deserunt perspiciatis maiores fugiat quam quia ipsam omnis nemo
    neque, vel saepe pariatur autem aliquid cumque quisquam, iure accusantium. Sequi, consectetur. Id aperiam suscipit delectus nihil, possimus aliquam incidunt! Ipsa sint reprehenderit qui consectetur tempora similique. Maxime esse nisi vero nesciunt
    quidem, incidunt necessitatibus odio vitae ipsam explicabo libero illum dolorem quos officia sunt veniam! Tempora, id? Voluptates error labore vel aut explicabo sint, exercitationem debitis dolorum dicta repellendus quidem rerum reiciendis accusamus
    totam. Maiores labore placeat earum, unde dolorum sapiente ducimus impedit, nihil, maxime reprehenderit eveniet quis saepe at! Corporis velit eligendi blanditiis maiores perferendis quos dignissimos mollitia iste ipsa accusamus aperiam similique iusto,
    eaque ea totam inventore quam illum provident reprehenderit vel laborum illo eos ducimus. Perferendis cum hic dolore officia quasi animi officiis iusto tempore odio quod odit nihil mollitia corporis numquam debitis voluptatem laborum dolorem molestias
    nisi voluptas repellat enim, consectetur iste? Non, quidem pariatur necessitatibus voluptas rem reiciendis architecto asperiores! Incidunt nihil molestiae error, a mollitia voluptates nobis, deleniti earum nostrum deserunt amet dolor quas odit excepturi
    consequatur sapiente dolorem corporis sequi rerum facilis voluptas quos fugit? Dolore excepturi nemo quod. Similique sint accusamus delectus quia modi. Laboriosam, a cupiditate! Tempora, dolorum quia? Facere eos ut distinctio fugit. Tempore, inventore!
    Esse sit at quasi quibusdam praesentium sed pariatur perspiciatis impedit? Ducimus, quo. Ad ducimus quia eos minus officiis cum libero? Nobis ipsam nostrum, dicta neque veniam quod dolorum. Quisquam vero quos quibusdam numquam error?</p>

<div data-aos="zoom-out">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem totam nesciunt vel illo officia, nobis voluptate optio laborum deleniti accusamus nemo labore asperiores architecto ducimus dolor dolorem et eveniet maiores unde rem facere.
        Ab placeat ut laborum quibusdam nam asperiores consequuntur dolorem id adipisci enim dolor, commodi deleniti maxime architecto corporis iste earum, similique ex a minus. Accusantium, blanditiis saepe. Impedit aspernatur perspiciatis recusandae
        earum, ex exercitationem totam. Tempora, ipsum. Exercitationem accusantium a ab perferendis numquam tempore temporibus sed, facilis pariatur quisquam nulla alias repellat consectetur rerum atque incidunt. Odio facere iure impedit magni accusantium
        expedita quaerat praesentium voluptates similique?</p>
</div>
<div data-aos="zoom-out">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem totam nesciunt vel illo officia, nobis voluptate optio laborum deleniti accusamus nemo labore asperiores architecto ducimus dolor dolorem et eveniet maiores unde rem facere.
        Ab placeat ut laborum quibusdam nam asperiores consequuntur dolorem id adipisci enim dolor, commodi deleniti maxime architecto corporis iste earum, similique ex a minus. Accusantium, blanditiis saepe. Impedit aspernatur perspiciatis recusandae
        earum, ex exercitationem totam. Tempora, ipsum. Exercitationem accusantium a ab perferendis numquam tempore temporibus sed, facilis pariatur quisquam nulla alias repellat consectetur rerum atque incidunt. Odio facere iure impedit magni accusantium
        expedita quaerat praesentium voluptates similique?</p>
</div>
<div data-aos="zoom-out">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem totam nesciunt vel illo officia, nobis voluptate optio laborum deleniti accusamus nemo labore asperiores architecto ducimus dolor dolorem et eveniet maiores unde rem facere.
        Ab placeat ut laborum quibusdam nam asperiores consequuntur dolorem id adipisci enim dolor, commodi deleniti maxime architecto corporis iste earum, similique ex a minus. Accusantium, blanditiis saepe. Impedit aspernatur perspiciatis recusandae
        earum, ex exercitationem totam. Tempora, ipsum. Exercitationem accusantium a ab perferendis numquam tempore temporibus sed, facilis pariatur quisquam nulla alias repellat consectetur rerum atque incidunt. Odio facere iure impedit magni accusantium
        expedita quaerat praesentium voluptates similique?</p>
</div>
<div data-aos="zoom-out">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem totam nesciunt vel illo officia, nobis voluptate optio laborum deleniti accusamus nemo labore asperiores architecto ducimus dolor dolorem et eveniet maiores unde rem facere.
        Ab placeat ut laborum quibusdam nam asperiores consequuntur dolorem id adipisci enim dolor, commodi deleniti maxime architecto corporis iste earum, similique ex a minus. Accusantium, blanditiis saepe. Impedit aspernatur perspiciatis recusandae
        earum, ex exercitationem totam. Tempora, ipsum. Exercitationem accusantium a ab perferendis numquam tempore temporibus sed, facilis pariatur quisquam nulla alias repellat consectetur rerum atque incidunt. Odio facere iure impedit magni accusantium
        expedita quaerat praesentium voluptates similique?</p>
</div>
<div data-aos="zoom-out">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem totam nesciunt vel illo officia, nobis voluptate optio laborum deleniti accusamus nemo labore asperiores architecto ducimus dolor dolorem et eveniet maiores unde rem facere.
        Ab placeat ut laborum quibusdam nam asperiores consequuntur dolorem id adipisci enim dolor, commodi deleniti maxime architecto corporis iste earum, similique ex a minus. Accusantium, blanditiis saepe. Impedit aspernatur perspiciatis recusandae
        earum, ex exercitationem totam. Tempora, ipsum. Exercitationem accusantium a ab perferendis numquam tempore temporibus sed, facilis pariatur quisquam nulla alias repellat consectetur rerum atque incidunt. Odio facere iure impedit magni accusantium
        expedita quaerat praesentium voluptates similique?</p>
</div>
<div data-aos="zoom-out">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem totam nesciunt vel illo officia, nobis voluptate optio laborum deleniti accusamus nemo labore asperiores architecto ducimus dolor dolorem et eveniet maiores unde rem facere.
        Ab placeat ut laborum quibusdam nam asperiores consequuntur dolorem id adipisci enim dolor, commodi deleniti maxime architecto corporis iste earum, similique ex a minus. Accusantium, blanditiis saepe. Impedit aspernatur perspiciatis recusandae
        earum, ex exercitationem totam. Tempora, ipsum. Exercitationem accusantium a ab perferendis numquam tempore temporibus sed, facilis pariatur quisquam nulla alias repellat consectetur rerum atque incidunt. Odio facere iure impedit magni accusantium
        expedita quaerat praesentium voluptates similique?</p>
</div>
<div data-aos="zoom-out">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem totam nesciunt vel illo officia, nobis voluptate optio laborum deleniti accusamus nemo labore asperiores architecto ducimus dolor dolorem et eveniet maiores unde rem facere.
        Ab placeat ut laborum quibusdam nam asperiores consequuntur dolorem id adipisci enim dolor, commodi deleniti maxime architecto corporis iste earum, similique ex a minus. Accusantium, blanditiis saepe. Impedit aspernatur perspiciatis recusandae
        earum, ex exercitationem totam. Tempora, ipsum. Exercitationem accusantium a ab perferendis numquam tempore temporibus sed, facilis pariatur quisquam nulla alias repellat consectetur rerum atque incidunt. Odio facere iure impedit magni accusantium
        expedita quaerat praesentium voluptates similique?</p>
</div>
